<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" [loadingText]="mensaje" type="ball-spin" [fullScreen]="true"></ngx-spinner>

<div class="section-bg">

  <app-administrator-side-bar></app-administrator-side-bar>

  <section class="dashboard-area">

    <app-administrator-top-bar></app-administrator-top-bar>

    <div class="dashboard-content-wrap">
      <div class="dashboard-bread dashboard--bread dashboard-bread-2">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="breadcrumb-content">
                <div class="section-heading">
                  <h2 class="sec__title font-size-30 text-white">Errores</h2>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="breadcrumb-list text-right">
                <ul class="list-items">
                  <li><a class="text-white">Administrador</a></li>
                  <li>Error</li>
                  <li>Log</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="dashboard-main-content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <div class="form-box">

                <div class="form-title-wrap">
                  <h3 class="title">Log de Errores</h3>
                </div>

                <div class="form-content">
                  <kendo-grid [data]="gridData" [pageSize]="state.take" [skip]="state.skip" [sort]="state.sort"
                    [sortable]="true" [resizable]="true" [pageable]="true" filterable="menu"
                    (dataStateChange)="dataStateChange($event)">

                    <kendo-grid-column headerClass="text-center" class="text-center" field="Fecha" title="Fecha"
                      width="120">
                    </kendo-grid-column>

                    <kendo-grid-column headerClass="text-center" field="Clase" title="Clase">
                    </kendo-grid-column>

                    <kendo-grid-column headerClass="text-center" field="Metodo" title="Método">
                    </kendo-grid-column>

                    <kendo-grid-column headerClass="text-center" class="text-center" field="Url Acceso" title="uriTemplate" width="200">
                    </kendo-grid-column>

                    <kendo-grid-column headerClass="text-center" class="text-center" field="Estatus" title="Estatus"
                      width="110">
                      <ng-template kendoGridCellTemplate let-dataItem>
                        <span
                          [ngClass]="(dataItem.Estatus == '400') ? 'color2' : (dataItem.Estatus == '401') ? 'color4' : 'color5' ">
                          <b>{{dataItem.Estatus}}</b>
                        </span>
                      </ng-template>
                    </kendo-grid-column>

                    <kendo-grid-column headerClass="text-center" width="90" title="Detalles">
                      <ng-template kendoGridCellTemplate let-dataItem>
                        <button class="btn btn-info" (click)="AbrirModalDetalles(dataItem)">
                          <i class="far fa-list-alt fa-lg"></i>
                        </button>
                      </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-messages groupPanelEmpty="Arrastra aquí para agrupar"
                    noRecords="No hay elementos que mostrar." pagerPage="Página" pagerOf="de" pagerItems="Registros"
                    pagerItemsPerPage="regiatros por página" filterClearButton="Limpiar" filterFilterButton="Buscar"
                    filterAndLogic="Y" filterOrLogic="O" filterEqOperator="Es igual a" filterNotEqOperator="No es igual a"
                    filterContainsOperator="Contiene" filterNotContainsOperator="No contiene"
                    filterStartsWithOperator="Comienza con" filterEndsWithOperator="Termina con"
                    filterIsNullOperator="Es nulo (null)" filterIsNotNullOperator="No es nulo (null)"
                    filterIsEmptyOperator="Esta vacio" filterIsNotEmptyOperator="No está vacío"
                    filterAfterOperator="Es posterior a" filterAfterOrEqualOperator="Es posterior o igual a"
                    filterBeforeOrEqualOperator="Es anterior o igual a" filterBeforeOperator="Es antes">
                  </kendo-grid-messages>
                  </kendo-grid>
                </div>
              </div>
            </div>
          </div>

          <div class="border-top mt-5"></div>

        </div>
      </div>
    </div>
  </section>

  <div id="back-to-top"><i class="la la-angle-up" title="Subir"></i>
  </div>

</div>

<div class="modal fade" id="modalDetalleError" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
  aria-labelledby="modalDetalleError" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Detalle Error</h5>
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="form-row">

          <div class="col-md-4">
            <div class="form-group">
              <label for="clase"><b>Clase</b></label>
              <input type="text" class="form-control" id="clase" [(ngModel)]="error.Clase" name="error.Clase" readonly>
            </div>
          </div>

          <div class="col-md-8">
            <label for="metodo"><b>Método</b></label>
            <input type="text" class="form-control" id="metodo" [(ngModel)]="error.Metodo" name="error.Metodo" readonly>
          </div>

          <div class="col-md-4">
            <label for="uriTemplate"><b>Url Relativa</b></label>
            <input type="text" class="form-control" id="uriTemplate" [(ngModel)]="error.UriTemplate"
              name="error.UriTemplate" readonly>
          </div>

          <div class="col-md-8">
            <label for="url"><b>Url Completa</b></label>
            <input type="text" class="form-control" id="url" [(ngModel)]="error.Url" name="error.Url" readonly>
          </div>

          <div class="col-md-4">
            <label for="fecha"><b>Fecha</b></label>
            <input type="text" class="form-control" id="fecha" [(ngModel)]="error.Fecha" name="error.Fecha" readonly>
          </div>

          <div class="col-md-4">
            <label for="estatus"><b>Estatus</b></label>
            <input type="text"
              [ngClass]="(error.Estatus == '400') ? 'form-control color2' : (error.Estatus == '401') ? 'form-control color4' : 'form-control color5' "
              id="estatus" [(ngModel)]="error.Estatus" name="error.Estatus" readonly>
          </div>

          <div class="col-md-12">
            <label for="error"><b>Error</b></label><br>
            <div class="input-group">

              <input type="text" class="form-control" id="error" [(ngModel)]="error.Descripcion"
                name="error.Descripcion" readonly>
              <div class="input-group-append">
                <button class="btn btn-success btn-sm height-md" (click)="Copiar()"><i class="far fa-copy"></i></button>
              </div>
            </div>
          </div>

        </div>

        <br><br>

        <div class="row">
          <div class="col-md-9"></div>
          <div class="col-md-3">
            <button type="button" class="btn btn-info btn-block" data-dismiss="modal">Cerrar</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
