<div class="container-fluid">
  <div class="row" style="margin-top: 150px !important;">
    <div class="col-2"></div>
    <div class="col-8 vista">
      <h1>ACCESO DENEGADO</h1><br>
      <div style="text-align: left;">
        <p>No está autorizado para ingresar a esta página.</p>
        <span>Pronto será direccionado a la página de ingreso de la plataforma, o puede acceder a través del siguiente
          botón</span>
      </div>
      <br>
      <button class="btn btn-outline-secondary" (click)="Redireccionar()">Ir al inicio</button>
      <br>
    </div>
    <div class="col-2"></div>
  </div>
</div>