<div class="dashboard-nav dashboard--nav">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="menu-wrapper">
          <div class="logo mr-5">
            <a href="/administrador/lista/viajes"><img src="assets/images/logos/logo-principal-blanco.png" alt="logo"
                style="height: 40px !important"></a>
            <div class="menu-toggler">
              <i class="la la-bars"></i>
              <i class="la la-times"></i>
            </div>
            <div class="user-menu-open">
              <i class="la la-user"></i>
            </div>
          </div>
          <div class="dashboard-search-box">

          </div>
          <div class="nav-btn ml-auto">
            <div class="notification-wrap d-flex align-items-center">
              <div class="notification-item">
                <div class="dropdown">
                  <a href="#" class="dropdown-toggle" id="userDropdownMenu" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <div class="d-flex align-items-center">
                      <div class="avatar avatar-sm flex-shrink-0 mr-2"><img src="assets/images/user.png" alt="team-img">
                      </div>
                      <span class="font-size-14 font-weight-bold">{{ perfil }}</span>
                    </div>
                  </a>
                  <div class="dropdown-menu dropdown-reveal dropdown-menu-md dropdown-menu-right">
                    <div class="list-group drop-reveal-list user-drop-reveal-list">
                      <a (click)="Regresar()" class="list-group-item list-group-item-action" style="cursor: pointer !important;">
                        <div class="msg-body">
                          <div class="msg-content">
                            <h3 class="title"><i class="fas fa-home mr-2"></i> Inicio</h3>
                          </div>
                        </div>
                      </a>
                      <div class="section-block"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
